<%= form_with(model: discipline, local: true) do |form| %>
  <% if discipline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(discipline.errors.count, "error") %> prohibited this discipline from being saved:</h2>

      <ul>
      <% discipline.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Type %>
    <%= form.text_field :Type %>
  </div>

  <div class="field">
    <%= form.label :Series %>
    <%= form.number_field :Series %>
  </div>

  <div class="field">
    <%= form.label :Schedule %>
    <%= form.text_field :Schedule %>
  </div>

  <div class="field">
    <%= form.label :Availability %>
    <%= form.check_box :Availability %>
  </div>

  <div class="field">
  <%= form.label :name %>
  <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
