<p id="notice"><%= notice %></p>

<h1>Disciplines</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Series</th>
      <th>Schedule</th>
      <th>Availability</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disciplines.each do |discipline| %>
      <tr>
        <td><%= discipline.Type %></td>
        <td><%= discipline.Series %></td>
        <td><%= discipline.Schedule %></td>
        <td><%= discipline.Availability %></td>
        <td><%= discipline.name %></td>
        <td><%= link_to 'Show', discipline %></td>
        <td><%= link_to 'Edit', edit_discipline_path(discipline) %></td>
        <td><%= link_to 'Destroy', discipline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Discipline', new_discipline_path %>
