<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @discipline.Type %>
</p>

<p>
  <strong>Series:</strong>
  <%= @discipline.Series %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @discipline.Schedule %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @discipline.Availability %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @discipline.name %>
</p>

<%= link_to 'Edit', edit_discipline_path(@discipline) %> |
<%= link_to 'Back', disciplines_path %>
