<%= form_with(model: classroom, local: true) do |form| %>
  <% if classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
      <% classroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Year %>
    <%= form.number_field :Year %>
  </div>

  <div class="field">
    <%= form.label :Shift %>
    <%= form.text_field :Shift %>
  </div>

  <div class="field">
    <%= form.label :Course %>
    <%= form.text_field :Course %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
