<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @classroom.Year %>
</p>

<p>
  <strong>Shift:</strong>
  <%= @classroom.Shift %>
</p>

<p>
  <strong>Course:</strong>
  <%= @classroom.Course %>
</p>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
