<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name %>
  </div>

  <div class="field">
    <%= form.label :Cpf %>
    <%= form.text_field :Cpf %>
  </div>

  <div class="field">
    <%= form.label :Registration %>
    <%= form.text_field :Registration %>
  </div>

  <div class="field">
    <%= form.label :Classroom_id %>
    <%= form.text_field :Classroom_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
