<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.Name %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @student.Cpf %>
</p>

<p>
  <strong>Registration:</strong>
  <%= @student.Registration %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @student.Classroom %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
