<%= form_with(model: library, local: true) do |form| %>
  <% if library.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(library.errors.count, "error") %> prohibited this library from being saved:</h2>

      <ul>
      <% library.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Book_Name %>
    <%= form.text_field :Book_Name %>
  </div>

  <div class="field">
    <%= form.label :Book_Code %>
    <%= form.number_field :Book_Code %>
  </div>

  <div class="field">
    <%= form.label :Availability %>
    <%= form.check_box :Availability %>
  </div>

  <div class="field">
    <%= form.label :Quantity %>
    <%= form.number_field :Quantity %>
  </div>

  <div class="field">
    <%= form.label :Student_id %>
    <%= form.text_field :Student_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
