<p id="notice"><%= notice %></p>

<p>
  <strong>Book name:</strong>
  <%= @library.Book_Name %>
</p>

<p>
  <strong>Book code:</strong>
  <%= @library.Book_Code %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @library.Availability %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @library.Quantity %>
</p>

<p>
  <strong>Student:</strong>
  <%= @library.Student %>
</p>

<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>
