<%= form_with(model: teacher, local: true) do |form| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name %>
  </div>

  <div class="field">
    <%= form.label :Workload %>
    <%= form.number_field :Workload %>
  </div>

  <div class="field">
    <%= form.label :Cpf %>
    <%= form.text_field :Cpf %>
  </div>

  <div class="field">
    <%= form.label :Discipline_id %>
    <%= form.text_field :Discipline_id %>
  </div>

  <div class="field">
    <%= form.label :Classroom_id %>
    <%= form.text_field :Classroom_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
