<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher.Name %>
</p>

<p>
  <strong>Workload:</strong>
  <%= @teacher.Workload %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @teacher.Cpf %>
</p>

<p>
  <strong>Discipline:</strong>
  <%= @teacher.Discipline %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @teacher.Classroom %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
